pydantic~=2.5.3
loguru~=0.7.2
requests~=2.31.0
xmltodict~=0.13.0
pyyaml~=6.0
uvicorn~=0.23.2
python-dotenv~=1.0.0
fastapi~=0.109.0
starlette~=0.35.1
websocket-client~=1.6.1
apscheduler~=3.10.1
pillow~=9.5.0
sentry-sdk[fastapi]~=1.39.2
pytest~=8.3.3
fastapi-sqlalchemy~=0.2.1
alembic~=1.13.1
asyncpg~=0.28.0
sqlalchemy~=2.0.20
sqlalchemy_utils~=0.41.1
psycopg2~=2.9.9